*{
    color:white;
}

<!--Estilo del Navbar-->
.navbar{
    z-index: 1;
}

#carrusel {
	padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand{
    font-family: "time";
    font-size: 40px;
    font-weight: 700;

}

#Parrafos{
    background-color: black;
    font-size: revert;
    text-align: center;
}

.image{
    height:30px;
    width: 30px;
    
}

#quienes{
    background-color: black;
}

#destacado{
    background-color: black;
    text-align: justify;
}

#contacto{
    background-color: black;
}

.card{
    background-color: var(--bs-info);
}

footer{
    background-color: var(--bs-info);
}

.linea{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;

}

